

<h1>Listing Users</h1>

<h2><a href="/users?order=age">age</a></h2>
<h2><a href="/users?order=department">department</a></h2>
<h2><a href="/users?order=salary">salary</a></h2>
<h2><a href="/users?order=highest salary">highest salary</a></h2>
<h2><a href="/users?where=retirement">retirement</a></h2>

<h2><a href="/users?order=salary_department">salary_department</a></h2>
<h2><a href="/users?order=highest age">highest age</a></h2>
<h2><a href="/users?order=lowest salary">lowest age</a></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
	     <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.salary %></td>
        <td><%= user.department %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
